<style>
    /* Style header */
    .my-header{
        width: 100vw;
        height: 5vh;
        position: fixed;
        left: 0;
        z-index: 999;
        background-color: aqua;
    }

    /* styles footer */
    .my-footer {
        width: 100vw;
        height: 7vh;
        position: fixed;
        top: 93vh;
        left: 0;
        z-index: 999;
        background-color: aqua;
    }
</style>

{% comment %} <div class="my-header">
    MENU SUPERIOR
</div> {% endcomment %}

{% block 'content' %}
{% endblock  %}

{% comment %} <div class="my-footer">
    FOOTER
</div> {% endcomment %}